/* Siatka produktów */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  margin-top: 16px;
}

/* Karta produktu */
.card {
  background-color: #7f7fe0;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 5px #181817;
}

.card h3 {
  margin: 0 0 8px 0;
  font-size: 18px;
  color: #fff;
}

.card p {
  margin: 4px 0;
  color: #e5e5e1;
  font-size: 14px;
}

/* Nagłówki */
.title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 16px;
}
